.dashboard-header {
  width: calc(100vw - 420px);
}

.task-list {
  padding: 0px 48px;
}

.table-header {
  background-color: #eadef7 !important;
}

.add-list-btn {
  margin: 0px 8px;
}

.table-container {
  margin-top: 48px;
}

.full-width-table {
  width: 100%;
}
