:host {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.mat-sidenav-container {
  display: flex;
  flex: 1;
}

.mat-sidenav {
  box-shadow: 10px 0 30px rgba(0, 0, 0, 0.1);
}

.container {
  direction: rtl;
  width: calc(100vw - 250px);
  overflow: auto;
  padding: 56px 24px;
}
mat-sidenav-content {
  display: flex;
  flex: 1;
  height: 100%;
}
