@use "@angular/material" as mat;

@include mat.core();

$my-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$violet-palette,
    ),
  )
);

html {
  @include mat.all-component-themes($my-theme);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  direction: rtl;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

/* Font size */
html {
  font-size: 16px;
}

body {
  font-size: 0.875rem;
}
